/* CHAT SIDEBAR */
.chat-sidebar {
  color: #fff;
}

.chat-sidebar-item {
  height: 50%;
  /* background-color: red; */
}

.chat-sidebar-item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.3);
}

.chat-title {
  font-size: var(--size-500);
  font-weight: 600;
}

.chat-sidebar-item-header a {
  color: #333;
  text-decoration: none;
  transition: color 250ms ease-in-out;
}

.chat-sidebar-item-header a:hover {
  color: #f1f1f1;
  text-decoration: underline;
}

.chat-list {
  list-style-type: none;
  /* height: auto; */
  /* overflow-y: auto; */
  height: calc(100% - 4rem);
  overflow-y: auto;
}
