/* CHAT */
.chat {
  width: 100%;
  /* height: auto; */
  height: var(--within-viewport);
  /* margin-bottom: 2rem; */
}

.chat .container {
  height: 100%;
}

.chat-content {
  width: 100%;
  padding-top: 0;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 0.5rem;
}

.chat-sidebar {
  height: 100%;
  max-height: var(--within-viewport);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  overflow: hidden;
}

.chat-conversation {
  padding: 1rem;
  height: 100%;
  max-height: var(--within-viewport);
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

/* .chat-conversation-person {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 100%;
} */

.chat-conversation-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 1rem;
  /* background-color: red; */
  /* height: max-content; */
}

.chat-conversation-empty {
  /* display: flex; */
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  margin: auto;
  color: #fff;
}

.chat-conversation-empty p {
  color: #cecece;
}

.chat-conversation-person .chat-conversation-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 3.5rem;
  padding-inline: 0.5rem;
  background-color: #f1f1f1;
  border-radius: 10px;
  gap: 1rem;
}

.chat-conversation-header .chat-conversation-infos {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-grow: 1;
}

.chat-conversation-header .chat-conversation-infos .chat-conversation-images {
  display: flex;
  flex-wrap: wrap;
  width: 3rem;
  height: 3rem;
  border-radius: 100vw;
  overflow: hidden;
}

/* .chat-conversation-header
  .chat-conversation-infos
  .chat-conversation-image
  img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.chat-conversation-header
  .chat-conversation-infos
  .chat-conversation-images
  img {
  width: 50%;
  min-width: 50%;
  max-width: 100%;
  flex: 1;
  object-fit: cover;
}

.chat-conversation-header
  .chat-conversation-infos
  .chat-conversation-description
  .chat-conversation-name {
  font-size: var(--size-500);
  font-weight: 600;
}

.chat-conversation-header
  .chat-conversation-infos
  .chat-conversation-description
  .chat-conversation-status,
.chat-conversation-header
  .chat-conversation-infos
  .chat-conversation-description
  .chat-conversation-members {
  font-size: var(--size-300);
}

.chat-conversation-header .chat-conversation-more {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100vw;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  transition: 250ms background-color ease-in-out;
}

.chat-conversation-header .chat-conversation-more:hover {
  background-color: lightgray;
}

.chat-conversation-header .chat-conversation-more i {
  padding: 0.5rem;
}

.chat-conversation-person .chat-conversation-body {
  flex-grow: 1;
  /* margin-block: 1rem; */
  /* height: 100%; */
  max-height: calc(635px - 2rem);
  overflow-y: auto;
}

.chat-message {
  color: #fff;
  margin-bottom: 1rem;
}

.chat-message:last-child {
  margin-bottom: 0;
}

.chat-message-content {
  display: flex;
  gap: 0.5rem;
  width: 85%;
}

.chat-message[data-user-type="sender"] .chat-message-content {
  margin-left: auto;
  flex-direction: row-reverse;
}

.chat-message-image .chat-message-image-content {
  width: 47px;
  height: 47px;
  border-radius: 100vw;
  overflow: hidden;
}

.chat-message-image-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.chat-message-infos {
  max-width: 100%;
}

.chat-message-header {
  display: flex;
  gap: 1rem;
}

.chat-message[data-user-type="sender"] .chat-message-header {
  flex-direction: row-reverse;
}

.chat-message-username {
  font-weight: 500;
  font-size: var(--size-400);
}

.chat-message-timestamp {
  align-self: center;
  color: #ccc;
  font-size: var(--size-300);
}

.chat-message-body {
  padding-block: 0.5rem;
  padding-inline: 1rem;
  border-radius: 0.5rem;
}

.chat-message[data-user-type="receiver"] .chat-message-body {
  color: #000;
  background-color: #fff;
  border-top-left-radius: 0;
}

.chat-message[data-user-type="sender"] .chat-message-body {
  color: #fff;
  background-color: #00a3ff;
  border-top-right-radius: 0;
}

.chat-conversation-person .chat-conversation-footer {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  gap: 0.5rem;
  width: 100%;
  /* height: 3.5rem; */
  padding-inline: 0.5rem;
  /* background-color: #f1f1f1; */
  border-radius: 100vw;
}
.chat-conversation-person .chat-conversation-footer {
}

.chat-conversation-person
  .chat-conversation-footer
  .chat-conversation-footer-input {
  resize: none;
  width: 100%;
  padding-inline: 1rem;
  outline: none;
  border: none;
  background-color: lightgray;
  border-radius: 0.5rem;
  /* min-height: 45px; */
  max-height: 120px;
}

.chat-conversation-person .chat-conversation-footer button {
  align-self: flex-start;
  gap: 0.5rem;
  font-size: var(--size-400);
  padding-inline: 1em;
  border-radius: 0.5rem;
}
/* 
.chat-friends {
  width: 100%;
  height: 50%;
  max-height: 50%;
  overflow: hidden;
}

.chat-groups {
  width: 100%;
  height: 50%;
  max-height: 50%;
  overflow: hidden;
} */

.chat-conversation-status[data-status="online"] {
  color: var(--color-online);
}

.chat-conversation-status[data-status="busy"] {
  color: var(--color-busy);
}

/* CHAT SIDEBAR */
.chat-sidebar {
  color: #fff;
}

.chat-sidebar-item {
  height: 50%;
  /* background-color: red; */
}

.chat-sidebar-item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.3);
}

.chat-title {
  font-size: var(--size-500);
  font-weight: 600;
}

.chat-sidebar-item-header a {
  color: #333;
  text-decoration: none;
  transition: color 250ms ease-in-out;
}

.chat-sidebar-item-header a:hover {
  color: #f1f1f1;
  text-decoration: underline;
}

.chat-list {
  list-style-type: none;
  /* height: auto; */
  /* overflow-y: auto; */
  height: calc(100% - 4rem);
  overflow-y: auto;
}

.chat-item:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.chat-item a {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  text-decoration: none;
  color: #fff;
}

.chat-item-infos {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.chat-item-images {
  width: 47px;
  height: 47px;
  border-radius: 100vw;
  overflow: hidden;
  border: 2px solid #eee;
}

.chat-item[data-status="online"] .chat-item-images {
  border-color: var(--color-online);
}

.chat-item[data-status="busy"] .chat-item-images {
  border-color: var(--color-busy);
}

.chat-item-images.friend-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.chat-item-description {
  /* align-self: flex-start; */
}

.chat-item-description .chat-item-title {
  font-size: var(--size-400);
  font-weight: 600;
}

.chat-item-description .chat-item-message {
  font-size: var(--size-300);
  color: #bbb;
  width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.chat-item-notifications {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100vw;
  width: 47px;
  height: 47px;
}

.chat-item-notifications .notifications-number {
  display: grid;
  place-content: center;
  width: 50%;
  height: 50%;
  border-radius: 100vw;
  background-color: #00a3ff;
  font-size: var(--size-300);
  font-weight: bold;
}

.chat-item-images.group-img {
  display: flex;
  flex-wrap: wrap;
}

.chat-item-images.group-img img {
  width: 50%;
  min-width: 50%;
  max-width: 100%;
  flex: 1;
  object-fit: cover;
}

/* MODAL */
.modal-confirmation {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 250px;
  max-width: 500px;
  max-height: 350px;
  color: #111;
  background-color: #fff;
  box-shadow: 0 0 0 max(100vw, 100vh) rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  overflow: hidden;
}

.modal-confirmation.open {
  display: block;
}

.modal-confirmation-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding: 0.5rem;
  gap: 1rem;
  width: 100%;
  height: 100%;
}

.modal-confirmation-message {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
  gap: 2rem;
}

.modal-confirmation-message .modal-message-title {
  font-weight: 600;
  font-size: var(--size-500);
}

.modal-confirmation-message .modal-message-subtitle {
  font-weight: 500;
  font-size: var(--size-300);
  color: tomato;
  text-align: center;
}

.close-modal {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: max-content;
  height: max-content;
  border-radius: 100vw;
  cursor: pointer;
}
.close-modal i {
  color: #111;
}

.close-modal:hover i {
  color: #dc3545;
}

.modal-confirmation-buttons {
  align-self: flex-end;
  justify-self: flex-end;
}
