.group {
  min-height: var(--within-viewport);
}

.group-content {
  margin-top: 4rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 10px;
  padding: 1rem;
  /* background-color: lightgray; */
  /* background-color: var(--color-primary-01); */
}

.group-type {
  margin-left: auto;
  padding-inline: 0.5rem;
  width: max-content;
  background-color: #111;
  border-radius: 10px;
  color: #ffff;
}

.group-type i {
  padding-right: 0.5rem;
}

.group-type p {
  display: inline;
  border-left: 1px solid #ffff;
  padding-left: 0.5rem;
}

.group[data-group-type="protected"] .actions-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

input[type="text"],
input[type="password"],
select {
  padding: 0.125em 0.8em;
  border-radius: 10px;
  border: 1px solid #a0a0a0;
  background-color: #fff;
}

.group[data-group-type="protected"] .actions-buttons .form-control {
  height: 100%;
}

.group-title {
  text-align: center;
  padding: 0;
  font-size: var(--size-600);
  padding-inline: 1rem;
  padding-block: 0.5rem;
  color: #fff;
  background-color: #111;
  width: max-content;
  margin-inline: auto;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 10px;
}

.group-subtitle {
  text-align: center;
  padding-block: 0;
}

.cards-content {
  border: none;
}

.role {
  margin-top: 2rem;
}

.role-title {
  position: relative;
  margin-left: 1rem;
  width: 100%;
  color: #3a3b3c;
  font-size: var(--size-400);
  font-weight: 600;
}

.role-title::before {
  content: "";
  position: absolute;
  right: 1rem;
  top: 50%;
  width: 90%;
  max-width: calc(100% - 116.8px);
  height: 0.125rem;
  background-color: #a0a0a0;
  border-radius: 100vw;
  transform: translateY(-50%);
}

.role-title::after {
  content: "";
  position: absolute;
  left: -1rem;
  top: 0;
  width: 10%;
  min-width: 116.8px;
  height: 100%;
  background-color: #e4e6ea;
  border-radius: 100vw;
  z-index: -1;
  /* transform: translateY(-50%); */
}

/* GROUPS SETTINGS STYLES */
.group-content {
}

.group-settings,
.membership-requests,
.members-role {
  margin-block: 1rem;
  background-color: #3a3b3c;
  color: #fff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  width: 100%;
}

.membership-requests,
.members-role {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  width: 100%;
}

.group-settings-header form .form-inputs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 1rem;
}

.group-settings-header form .actions-buttons {
  /* grid-column: span 2;
  grid-row: span 2; */
  margin-top: 1.5rem;
  width: 100%;
}

.group-settings-header form input[type="submit"] {
  /* justify-self: flex-start; */
  margin-left: auto;
  width: max-content;
}

.group-settings-title,
.membership-requests-title {
  font-size: var(--size-500);
  margin-bottom: 1rem;
}

.form-control {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.form-control input,
.form-control select {
  flex-grow: 1;
}
.form-control label {
  min-width: 90px;
  color: lightgray;
}

.membership-requests-cards,
.members-role-cards {
  /* padding-inline: 0.5rem; */
  padding: 1rem;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  /* background-color: red; */
}

.members-role-cards {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
