/* CHAT */
.chat {
    width: 100%;
    /* height: auto; */
    height: var(--within-viewport);
    /* margin-bottom: 2rem; */
  }
  
  .chat .container {
    height: 100%;
  }
  
  .chat-content {
    width: 100%;
    padding-top: 0;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 0.5rem;
  }
  